body {
    position: relative;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    padding-top: 80px;
  }

  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
    font-size: 14px;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

.link:hover,
.link:focus {
  color: var(--accent-color);
}
