.benefits__list {
    display: flex;
    column-gap: 30px;
    .benefits__icon {
      background-color: var(--secondary-color);
      margin-bottom: 30px;
      width: 270px;
      height: 120px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .benefits__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  
  
  
  .benefits__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  .benefits__subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .benefits__ph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--minor-color);
  }